body{
    margin: 0;
    padding: 0;
}
a, a:hover{
    text-decoration: none;
}
.mt-20px{
    margin-top: 20px;
}
.border{
    border-right: 1px solid rgb(255 255 255 / 0.4);
}
.btn-green{
    display:inline-block;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 900;
    color: #fff;
    padding: 10px 30px;
    border-radius: 2px;
    position: relative;
    border: 1px solid #01ca8b;
    box-shadow: 0 0 0 4em #01ca8b inset;
    transition: all 350ms ease;
}
.btn-green i{
    margin-right: 6px;
}
.btn-green:hover{
    box-shadow: 0 0 0 0 #01ca8b inset;
    background: #fff;
    color: #01ca8b;

}
.btn-transparant{
    border: 1px solid #fff;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: -20%;
    border-bottom: 1px solid #fff;
    /* background: #000; */
}
.header-active{
    position: fixed;
    background: #000;
    z-index: 1;
    top: 0;
    animation-name: joshua;
    animation-duration: 0.8s;
}
@keyframes joshua{
    from{top: 200px;}
    to{top: 0;}
}
.logo{
    display: inline-block;
    padding-right: 30px;
}
.menu{
    display: inline-block;
}
.menu ul{
    margin: 0;
    padding: 0;
}
.menu ul li{
display: inline-block;
list-style-type: none;
margin: 0 20px;
}
.menu ul li a{
    color: #fff;
    text-transform: capitalize;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 1px;
    position: relative;
}
.menu ul li a::before{
    content: '';
    position: absolute;
    background: #fff;
    width: 0;
    height: 2px;
    bottom: -5px;
    transition: 0.2e ease-in-out;
}
.menu ul li a:hover::before{
    width: 100%;
}
.header-social{
    margin-top:  20px;
}
.header-social ul{
    margin: 0;
    padding: 0;
}
.header-social ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
}
.header-social ul li a{
    color: #fff;
    background: rgb(255, 255, 255 / 0.22);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
    position: relative ;
}
.header-social ul li a i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: inline-block;
    font-size: 16px;
    transition: 0.2s ease-in-out;

}
.header-social ul li a:hover{
    color: #01ca8b;
}
.banner{
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 16em 0 14em 0;
    box-shadow: -5px -5px 30px 5px #e1f3ff 5px 5px 30px 5px #e1f3ff;

}
.banner-content{
    width: 80%;
}
.banner-content h1{
    color: #fff;
    font-size: 80px;
    font-weight: 800;
    margin-top: 10px;
    line-height: 80px;  
}

.service{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:5px;
}
.service-card{
    font-size: 20px;
    font-weight: 800;
    color: #e70d0d;
    border-right: 1px solid #fff;
    padding: 34px 20px;
     border-radius: 10px;
    background: #ffffff45;
    border: solid #dfdfdf95;
    margin-top: 100px; 
}

.emergency{
    border-right: none;
    background-image: url(imag/emergency\ room.jpg); 
    background-size:cover ;
    background-repeat:no-repeat ;
    background-position: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%
} 
.service-content{
    width: calc(100%-47px);
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.service-content::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    background: #fff;
    width: 0;
    height: 2px;
    transition: 0.2s ease-in-out;
}
.service-content:hover::before{
    width: 50%;
}
.service-btn{
    width: 40px;
    display: inline-block;
    height: 40px;
    background: #ffffff45;
    position: relative;
    border-radius: 50%;
    vertical-align: middle;
}
.service-btn i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s ease-in-out;
}
.service a:hover .service-btn i{
    transform: rotate(-40deg);
    top: 26%;
    left: 32%;
}
.service-icon{
    font-size: 40px;
    margin-top: 22px;
}
.call{
    display: inline-block;
    width: 4opx;
    vertical-align: middle;
}
.call-number{
    width: calc(100% -54px);
    display: inline-block;
    vertical-align: middle;
}
.call-number p{
    font-size: 14px;
    text-transform: uppercase;
}
.call-number h3{
 font-weight: 600;
    letter-spacing: 1px; 
}
.work{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:5px;
}

.schedule{
    font-size: 20px;
    font-weight: 800;
    padding: 30px 20px;
     border-radius: 10px;
    background: #ffffff45;
    border: solid #dfdfdf95;
    padding-bottom: 20px;
    
}
.hours{
    background: #01ca8b;
    border-radius: 10px;
    padding: 40px 50px;
}
.hours h2{
    color: #fff;
    font-weight: 900;
    margin: 0 0 30px;
}
.time{
    border-top: 1px solid rgb(255 255 255 / 0.52);
    padding: 28.7px 0;
}
.time:last-child{
    padding-bottom: 0;
}
.time h4, .time p{
    text-align: left;
    color: #fff;
    font-weight: 600;
}
.booking{
    display: inline-block;
    width: 33%;
    font-weight: 600;
    margin-left: -4px;
    font-size: 15px;
    color: #fff;
}
.btn-white{
    background: #fff;
    color: #01ca8b;
    border: none;
    outline: none;
    border-radius: 2px;
    padding: 4px 10px;
}
.btn-white i{
    margin-right: 4px;    
}
.response{
    border-radius: 10px;
    border: 1px solid #ebebeb;
    overflow: hidden;
}
.response-bg{
    height: 400px;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.4s ease-in-out;
     width: 100%; 
}
.response a :hover .response-bg{
    transform: scale(1.04);
}
.response-content{
    padding: 90px 30px 30px;
    text-align: left;
    clip-path: polygon(0 0,100% 20%,100% 100%,0% 100);
    background: #fff;
    position: relative;
    margin-top: -70px;
}
.response-icon{
    background: #01ca8b;
    border-radius: 2px;
    width: 70px;
    height: 70px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.response-icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    color: #fff;
    font-size: 30px;
}
.response-content h2{
    color: #000;
    font-weight: 800;
    line-height: 36px;
}
.response-content p{
color: #8b8b8b;
font-size: 15px;
margin: 24px 0 0;
}
.read-more{
    border: none;
    outline: none;
    background: transparent;
    color: #01ca8b;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}
.read-more i{
    margin-left: 4px;
    transition: 0.2s ease-in-out;
}
.response a:hover .read-more{
    color: #000;
}
.response a:hover .read-more i{
    color: #01ca8b;
    margin-left: 6px;
}



